<launch>

  <arg name="video_dev" default="/dev/usb_cam" />
  <arg name="image_width" default="640" />
  <arg name="image_height" default="480" />
  <arg name="pixel_format" default="yuyv" />
  <arg name="framerate" default="30" />
  <arg name="camera_frame_id" default="usb_cam" />
  <arg name="io_method" default="mmap" />

  <include file="$(find sagittarius_object_color_detector)/launch/usb_cam.launch">
    <arg name="video_dev"	value="$(arg video_dev)"/>
    <arg name="image_width" value="$(arg image_width)"/>
    <arg name="image_height" value="$(arg image_height)"/>
    <arg name="pixel_format" value="$(arg pixel_format)"/>
    <arg name="framerate" value="$(arg framerate)"/>
    <arg name="camera_frame_id" value="$(arg camera_frame_id)"/>
    <arg name="io_method" value="$(arg io_method)"/>
  </include>

  <rosparam command="load" file="$(find sagittarius_object_color_detector)/config/vision_config.yaml" />

  <node name="HSVParams_node" pkg="sagittarius_object_color_detector" type="HSVParams_node" output="screen" />
  
  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" respawn="false" output="screen" />

</launch>
